.user-row {
  cursor: move;

  &.disabled {
    cursor: not-allowed;
  }

  &__first-name {
    width: 150px;
    max-width: 150px;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__last-name {
    width: 150px;
    max-width: 150px;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__options {
    width: 150px;
    max-width: 150px;

    button {
      cursor: pointer;
    }
  }
}
